 <!-- portfolio section -->
<section class="section" id="certificate">
    <div class="container text-center">
        <p class="section-subtitle">What I Gained ?</p>
        <h6 class="section-title mb-6">My certificate</h6>
        <!-- row -->
        <div class="row">
            <div class="col-md-4">
                <a href="" class="portfolio-card">
                    <img src="~/assets/imgs/certificate.png" class="portfolio-card-img" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                    <span class="portfolio-card-overlay">
                        <span class="portfolio-card-caption">
                            <h4>
                                Outstanding pupil (Hutech verify) - 2024
                            </h4>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-md-4">
                <a href="" class="portfolio-card">
                    <img src="~/assets/imgs/certificate.png" class="portfolio-card-img" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                    <span class="portfolio-card-overlay">
                        <span class="portfolio-card-caption">
                            <h4>
                                Outstanding pupil (Hutech verify) - 2023
                            </h4>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-md-4">
                <a href="" class="portfolio-card">
                    <img class="portfolio-card-img" src="~/assets/imgs/bank.png" class="img-responsive rounded" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                    <span class="portfolio-card-overlay">
                        <span class="portfolio-card-caption">
                            <h4>
                                Participate in Hackathon HB Bank - 2022
                            </h4>
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </div>

</section>
