    <!-- Page Navbar -->
<nav class="custom-navbar" data-spy="affix" data-offset-top="20">
    <div class="container">
        <a class="logo" href="#">Portfolio of Hiep</a>
        <ul class="nav">
            <li class="item">
                <a class="link" href="#home">Home</a>
            </li>
            <li class="item">
                <a class="link" href="#about">About</a>
            </li>
            <li class="item">
                <a class="link" href="#service">My Skill</a>
            </li>
            <li class="item">
                <a class="link" href="#blog">My Project</a>
            </li>
            <li class="item">
                <a class="link" href="#certificate">Certificate</a>
            </li>
            <li class="item">
                <a class="link" href="#contact">Contact</a>
            </li>
            
           @*  <li class="item ml-md-3">
                <a href="components.html" class="btn btn-primary">Components</a>
            </li> *@
        </ul>
        <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </a>
    </div>
</nav><!-- End of Page Navbar -->
