 <!-- page header -->
<header id="home" class="header">
    <div class="overlay"></div>
    <div class="header-content container">
        <h1 class="header-title">
            <span class="up">HI!</span>
            <span class="down">I am Hiep Huynh</span>
        </h1>
        <p class="header-subtitle">BackEnd Developer</p>

    </div>
</header><!-- end of page header -->