  <!-- service section -->
<section class="section" id="service">
    <div class="container text-center">
        <p class="section-subtitle">What I Learn ?</p>
        <h6 class="section-title mb-6">My Skill</h6>
        <!-- row -->
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="service-card">
                    <div class="body">
                        <img src="~/assets/imgs/coding.png" alt="" class="icon">
                        <h6 class="title">Programing Languages</h6>
                        <p class="subtitle">
                            C#,
                            JAVASCRIPT, ASP.NET MVC, ASP.NET
                            CORE.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="service-card">
                    <div class="body">
                        <img src="~/assets/imgs/data-science.png" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page" class="icon">
                        <h6 class="title">Database Manager System: </h6>
                        <p class="subtitle">
                            MY SQL,
                            SQL SERVER.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="service-card">
                    <div class="body">
                        <img src="~/assets/imgs/studying.png" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page" class="icon">
                        <h6 class="title"> Foreign Languges</h6>
                        <p class="subtitle">English reading skill.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="service-card">
                    <div class="body">
                        <img src="~/assets/imgs/application.png" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page" class="icon">
                        <h6 class="title">Others</h6>
                        <p class="subtitle">knowledege about Github.</p>
                    </div>
                </div>
            </div>
        </div><!-- end of row -->
    </div>
</section><!-- end of service section -->
