.shake-on-hover {
    transition: transform 0.5s ease-in-out;
}

    .shake-on-hover:hover {
        animation: shake 0.5s infinite; /* Adjust animation duration as needed */
    }

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-3px);
    }

    100% {
        transform: translateX(0);
    }
}
